
<style>
    .test3{
        background-color: purple;
        height:300px;
        position:absolute;
        bottom:0px;
    }
</style>
<div class="test3">
    
</div>
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>
</html>
