<% include partials/header.ejs %>
<div id="test">
     <div id="navbar">
   		<nav class="navbar navbar-default navbar-fixed" style="border: 0px">
   		  <div class="container-fluid">
   		    <!-- Brand and toggle get grouped for better mobile display -->
   		    <div class="navbar-header">
   		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
   		        <span class="sr-only">Toggle navigation</span>
   		        <span class="icon-bar"></span>
   		        <span class="icon-bar"></span>
   		        <span class="icon-bar"></span>
   		      </button>
   		      <a class="navbar-brand" href="#">Specube</a>
   		    </div>

   		    <!-- Collect the nav links, forms, and other content for toggling -->
   		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
   		      <ul class="nav navbar-nav">
   		      	<li ><a href="/">Home</a></li>
   		      	<li ><a href="#">About</a></li>
   		      	<li ><a href="#">Contact</a></li>
   		      </ul>

   		      <ul class="nav navbar-nav navbar-right">
                <% if(!currentUser){ %>
                    <li><a href="/register">Signup <i class="fa fa-user-plus"></i></a></li>
   		            <li><a href="/login">Login<i class="fa fa-user"></i></a></li>
                <% }else{ %>
                   <li><a><%= currentUser.username %></a></li>
                    <li><a href="/logout">Logout<i class="fa fa-user"></i></a></li>
                <% } %>
   		        
   		      </ul>
   		    </div><!-- /.navbar-collapse -->
   		  </div><!-- /.container-fluid -->
   		</nav>
   	</div>

	<link rel="stylesheet" type="text/css" href="../stylesheets/index.css">
<!--
		<div id="header">
			<span>S</span>pec-surgery
		</div> -->




<!-- <div id="sidebar">
	<ul>
		<li class="items"><a href="#">Online Treatment</a>
			<ul>
				<li>online chat</li>
				<li>online chat</li>
			</ul>
		</li>
		<li class="items"><a href="#">Online Clinic</a>
			<ul>
				<li>Online OPD</li>
			</ul>
		</li>
		<li class="items"><a href="#">Free Consultancy</a>
			<ul>
				<li>report sharing</li>
			</ul>
		</li>
	</ul>
</div>
<div id="middle">

</div> -->
<!-- <div id="footer">
	<p>Copyright<i class="fa fa-copyright" aria-hidden="true"></i> Specube</p>;
</div> -->
<!-- online treatment
	online chat(nominal charges)
		private report sharing
		prescription
	online video conferencing with doctor(charges decided by the hospital or doctor)
		https://www.kirupa.com/html5/accessing_your_webcam_in_html5.htm
	online opd(nominal fees)
	online tutorials for basic treatment
		providing first aid
free consultancy
	*online public report sharing platform
 -->


	<div class="container" id="welcome">

			<div class="row">
				<div class="col-xs-12">
					<h1>Welcome</h1>
					<h3>to the world of surgery and treatment</h3>
					<button class="ui violet button">Get started<i class="angle right icon"></i></button>
		 		</div>
			</div>


	</div>



</div>

<div id="test2">
<div class="container" style="background:#ede7f6 ">
	<div class="row">
		<div class="col-md-4  col-xs-12">
			<div class="card text-center" style="width:25rem;margin:0 auto 5px auto; background-color: #c7a4ff">
  				<div class="card-header" >
				    Featured
  				</div>
  				<img class="card-img-top" src="http://www.globalporttraining.com/images/Afbeeldingen/media/info.png" alt="Card image cap" >
	  			<div class="card-block">
				    <h4 class="card-title"><strong>News</strong> </h4>
				    <p class="card-text"></p>
				    <a href="#" class="btn btn-primary">Go somewhere</a>
	  			</div>
	 			<div class="card-footer text-muted">
	   				 2 days ago
	 			</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="card text-center" style="width:25rem;margin:0 auto 5px auto;background-color: #c7a4ff; ">
  				<div class="card-header">
				    Featured
  				</div>
  				<img class="card-img-top" src="https://d30y9cdsu7xlg0.cloudfront.net/png/151852-200.png" alt="Card image cap">
	  			<div class="card-block">
				    <h4 class="card-title"><strong>Spec-compare</strong></h4>
				    <p class="card-text"></p>
				    <a href="/compare" class="btn btn-primary">Compare</a>
	  			</div>
	 			<div class="card-footer text-muted">
	   				 2 days ago
	 			</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="card text-center" style="width:25rem;margin:0 auto 5px auto;background-color: #c7a4ff; ">
  				<div class="card-header">
				    Featured
  				</div>
  				<img class="card-img-top" src="http://icons.iconarchive.com/icons/icons8/android/512/Healthcare-Clinic-icon.png" alt="Card image cap" >
	  			<div class="card-block">
				    <h4 class="card-title"><strong>Online Clinic</strong> </h4>
				    <p class="card-text"></p>
				    <a href="/clinic" class="btn btn-primary">Go somewhere</a>
	  			</div>
	 			<div class="card-footer text-muted">
	   				 2 days ago
	 			</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4 col-xs-12">
			<div class="card text-center" style="width:25rem ;margin:0 auto 5px auto;background-color: #c7a4ff;">
  				<div class="card-header">
				    Featured
  				</div>
  				<img class="card-img-top" src="http://www.freeiconspng.com/uploads/consultancy-icon-3.png" alt="Card image cap" >
	  			<div class="card-block">
				    <h4 class="card-title"><strong>Free Consultancy</strong> </h4>
				    <p class="card-text"></p>
				    <a href="#" class="btn btn-primary">Go somewhere</a>
	  			</div>
	 			<div class="card-footer text-muted">
	   				 2 days ago
	 			</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="card text-center" style="width:25rem;margin:0 auto 5px auto;background-color: #c7a4ff; ">
  				<div class="card-header">
				    Featured
  				</div>
  				<img class="card-img-top" src="https://png.icons8.com/fraud/win8/1600" alt="Card image cap" >
	  			<div class="card-block">
				    <h4 class="card-title"> <strong>Feedback & Confession</strong></h4>
				    <p class="card-text"></p>
				    <a href="/frauds" class="btn btn-primary">Feedback</a>
	  			</div>
	 			<div class="card-footer text-muted">
	   				 2 days ago
	 			</div>
			</div>
		</div>
		<div class="col-md-4 col-xs-12">
			<div class="card text-center" style="width:25rem;margin:0 auto 5px auto;background-color: #c7a4ff; ">
  				<div class="card-header">
				    Feature3
  				</div>
  				<img class="card-img-top" src="https://cdn1.iconfinder.com/data/icons/finance-solid-icons-vol-1/48/047-512.png" alt="Card image cap" >
	  			<div class="card-block">
				    <h4 class="card-title"><strong>Customer Care</strong> </h4>
				    <p class="card-text"></p>
				    <a href="#" class="btn btn-primary">Go somewhere</a>
	  			</div>
	 			<div class="card-footer text-muted">
	   				 2 days ago
	 			</div>
			</div>
		</div>
	</div>
</div>
</div>
<div id="test3">
    
</div>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script> -->

<!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->
<!-- <script type="text/javascript" src="./jq.js"></script> -->
<script type="text/javascript" src="spec-surgery.js"></script>
<!-- </body>
</html> -->
<% include partials/footer.ejs %>
