<% include partials/header%>
<link rel="stylesheet" type="text/css" href="../stylesheets/new.css">

<div id="box" class="ui main text container segment">
    <div class="ui huge header">New fraud</div>
    <form  class="ui form" action="/frauds" method="POST">
        <div class="field">
            <label>Title</label>
            <input type="text" name="fraud[title]" placeholder="title">
        </div>
        <div class="field">
            <label>Hospital</label>
            <input type="text" name="fraud[hospital]" placeholder="title">
        </div>
        <div class="field">
            <label>Location</label>
            <input type="text" name="fraud[location]" placeholder="title">
        </div>
        <div class="field">
            <label>Image</label>
            <input type="text" name="fraud[image]" placeholder="image">
        </div>
        <div class="field">
            <label>fraud Content</label>
            <textarea name="fraud[body]"></textarea>
        </div>    
        <input class="ui violet basic button" type="submit">
    </form>
</div>




<% include partials/footer%>